body {
	font-size:18px;
	color:#000000;
	background:#D0D0D0;
	font-family: 'Dela Gothic One', serif;
	font-family: 'Oswald', sans-serif;
	   } 
	   
#centsection{
	 text-align:center;
	 background-color:#999999;
}
#textsection{
	text-align:right;
}
#imgsection{
	text-align:center;
	background-color:#545252;
	font-size:50%;
}
h1{
	font-family: 'Dela Gothic One', serif;
	font-size:80px;
}
h2{
	font-family: 'Oswald', sans-serif;
	font-size:40px;
}
#welcome{
	text-align:center;
	
	
	
}
.navbar-default .nav li a .glyphicon {
	color: #ff0000;
}

.jumbotron{
	background-color: #545252;
}

.navbar-brand img {
	max-width: 32px;
	max-height: 32px;	
	
}
.carousel img{
	max-width:1024px;
	max-height:1024px;
	margin:auto;
	
}
#input{
	color:#000000;
}
#article img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 110%;
}

}	
#article p{
	margin-left:15%;
	margin-right:15%;
}	
	
