header, nav, main, footer
{
display: block;
width: 1078px;
} 
body {
 color: #ffffff;
 background-color:#000000;
 margin: 0px;
text-align: center; 
} 
header{
 background-color:#C0C0C0;
  height: 25%;
  position:relative; 
}
nav{
 background-color:#800080;
  color: #ffffff;
  height: 20%;
}
main{
 background-color:#808000;
  color: #ffffff;
  height: 60%;
}
footer{
 background-color:#800000;
  color: #ffffff;
 height: auto; 
 clear: both; 
}
#container {
 position: relative;
margin: auto;
 width: 1078px;
  height: auto;
 overflow: hidden;
border: 1px solid #ffffff;
} 

#col-left {
background-color:#006acc;
width: 20%;
 height: 400px;
float: left;
} 

#col-center {
width:80%;
height: 400px;
} 
#logo {
 position: absolute;
 top:10px; left:10px; 
 width: 200px;
 height: 40px;
 border: 2px dotted #731980;
} 
#logo img {
max-height:15%;
} 
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}