{% extends "base.html" %}

{% block content %}

<div>
<h1> Lista zarejestrowanych pracowników </h1>
	<div class="starter-template">
		 <table border = 1>
			<thead>
				 <td>Imie</td>
				 <td>Nazwisko</td>
				 <td>Numer pracownika</td>
				 <td>Adres</td>
				 <td>Miasto</td>

			</thead>

		 {% for rekord in rekordy %}
			 <tr>
				<td>{{rekord["imie"]}}</td>
				 <td>{{rekord["nazwisko"]}}</td>
				 <td>{{rekord["nr_pracownika"]}}</td>
				 <td>{{rekord["adres"]}}</td>
				 <td>{{ rekord["miasto"]}}</td>
				 
			 </tr>
		 {% endfor %}
		</table>
	 </div>
	</div>
{% endblock %}

